.input {
  background-color: rgb(var(--background));
  color: rgb(var(--main-font-color));
  border-radius: 0;
  width: 100%;
  transition: all 300ms;
}

.input:hover {
  background-color: rgb(var(--main-component-bg));
}

.input :global .MuiOutlinedInput-root {
  border-radius: 0;
  border: 1px solid rgba(var(--main-font-color), 0.6);
}

.input:hover :global .MuiOutlinedInput-root {
  border: 1px solid rgb(var(--main-font-color));
}

.input :global .Mui-focused.MuiOutlinedInput-root {
  border: 1px solid rgb(var(--main-font-color));
}

.input :global .Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 0px;
}


.input :global .MuiOutlinedInput-input {
  color: rgb(var(--main-font-color));
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .input input {
    padding: 5px;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .input input {
    padding: 5px;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .input input {
    padding: 6px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .input input {
    padding: 8px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .input input {
    padding: 10px;
  }
}
