.radio {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.radio-text {
  font-size: 16px !important;
  color: var(--main-light-black);
  margin-inline: 0;
  margin-block: auto;
}

.radio-text[data-radio="true"] {
  color: var(--main-beige-black);
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button input[type="radio"] + label {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 2px solid var(--main-light-black);
  transition: all 300ms;
}

.radio-button:hover input[type="radio"] + label {
  box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.33);
}

.radio-button input[type="radio"] + label[data-radio="true"] {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 2px solid var(--main-beige-black);
}

.radio-button input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 25px;
}
.radio-button input[type="radio"] + label span {
  transition: all 0.3s ease;
}
.radio-button input[type="radio"] + label span {
  background-color: white;
}

.radio-button input[type="radio"]:checked + label span {
  background-color: black;
}
