/* Content Slider card */
.slider5nav {
  width: auto;
}

.content-card-hold {
  height: 490px;
  cursor: default;
  padding-inline: 5%;
}

/* Card button&dots */
.content-card-prev-btn,
.content-card-next-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 45%;
}

.content-card-prev-btn,
.content-card-next-btn  {
  color: rgb(var(--background));
  background-color: rgb(var(--main-font-color));
  transition: background-color 300ms;
}

.content-card-prev-btn {
  left: 0%;
}

.content-card-next-btn {
  right: 0%;
}

.content-card-prev-btn:hover {
  background-color: rgb(var(--main-highlighted));
}

.content-card-next-btn:hover {
  background-color: rgb(var(--main-highlighted));
}
