@import "../index.css";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  right: 0;
  background-color: var(--main-beige);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  width: 480px;
  height: 100%;
  overflow: auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .modal {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .modal {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

}

@media screen and (min-width: 1201px) and (max-width: 1600px) {

}