.tour-list {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  justify-content: center;
}

.tour-head {
  flex-grow: initial;
  flex-shrink: 1;
  flex-basis: 72%;
}

.tourlist-btns {
  display: flex;
}

.tour-sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-block: 1rem;
}

.tour-sort p {
  margin: 0;
  text-align: left;
  font-size: 20px;
}

.advanced-filter {
  margin-bottom: 0 !important;
}

.advanced-filter:hover {
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: var(--main-orange);
}

.advanced-filter-active {
  background-color: var(--main-orange);
  color: var(--main-white);
}

.advanced-filter-active:hover {
  background-color: var(--main-beige-black);
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .tour-list {
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .tour-sort {
    justify-content: center;
    gap: 2rem;
    margin-block: 1rem;
  }
  
  .tour-sort p {
    margin: 0;
    text-align: left;
    font-size: 20px;
  }

  .tourlist-btns {
    width: 100%;
    justify-content: space-evenly;
  }


}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .tour-list {
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.8fr));
  }


  .tour-sort {
    justify-content: center;
    gap: 2rem;
    margin-block: 1rem;
  }
  
  .tour-sort p {
    margin: 0;
    text-align: left;
    font-size: 20px;
  }

  .tourlist-btns {
    justify-content: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .tour-list {
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.8fr));
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .tour-list {
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.8fr));
  }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {

}
