.tour-card {
  overflow: hidden;
  width: inherit;
  height: 500px;
  position: relative;
  font-family: var(--main-light-font);
  cursor: pointer;
}

.tour-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-class {
  height: inherit;
  width: inherit;
}

.mobile-helper {
  position: absolute;
  top: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(var(--secondary-component-bg), 0.8),
    80%,
    rgba(var(--secondary-component-bg), 0)
  );
}

.content-holder {
  position: absolute;
  overflow: hidden;
  margin-inline: auto;
  background-image: linear-gradient(
    to top,
    rgba(var(--secondary-component-bg), 1),
    90%,
    rgba(var(--secondary-component-bg), 0)
  );
  top: 260px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 240px;
  color: rgb(var(--main-font-color));
  display: block;
  max-width: auto;
}

/* .content-discount {
  width: 50px;
  height: 71px;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: rgb(var(--main-highlighted));
  position: absolute;
  overflow: hidden;
  margin-inline: auto;
  margin-top: 0%;
  margin-right: 3%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-discount svg{
  width: 24px;
  height: 24px;
  color: var(--main-dark-blue);
} */

.content-detail {
  text-align: center;
  font-size: 0.9rem;
}