.tour-list {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  justify-content: center;
}

.tour-head {
  flex-grow: initial;
  flex-shrink: 1;
  flex-basis: 72%;
}

.tourlist-btns {
  display: flex;
}

.tour-sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-block: 1rem;
}

.tour-sort p {
  margin: 0;
  text-align: left;
  font-size: 20px;
}

.advanced-filter {
  color: var(--main-beige);
  padding: 17.5px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--main-beige-black);
  font: inherit;
  margin-left: 1rem;
  transition: all 300ms;
}

.advanced-filter:hover {
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: var(--main-orange);
}

.advanced-filter-active {
  background-color: var(--main-orange);
  color: var(--main-white);
}

.advanced-filter-active:hover {
  background-color: var(--main-beige-black);
}
