.team-list {
  display: grid;
  justify-content: space-between;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  margin-top: 5%;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .team-list {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .team-list {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
}
