.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    .services {
        justify-content: center;
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .services {
        justify-content: center;
    }
  }