.footer {
  /* height: 7rem; */
  padding-block: 1rem;
  background-color: var(--main-beige-black);
  color: var(--main-beige);
}

.footer-outer {
  margin: auto 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: inherit;
}

.footer-logo p {
  font-size: 4rem;
  font-family: "WorkSans";
}

.footer-line {
  width: 2px;
  height: 60px;
  background-color: var(--main-beige);
  margin: 0 30px;
}

.footer-map {
  display: flex;
  justify-content: left;
  margin-block: 10px;
}

.footer-map p {
  margin-inline: 10px
}

.footer-footnote {
  font-family: var(--main-light-font);
  display: flex;
  justify-content: left;
  background-color: var(--main-beige-black);
  color: var(--main-beige);
  padding-block: 10px
}

.footer-base {
  display: flex;
  align-items: center;
}

.support p {
  font-size: var(--main-light-font);
}

.footer-others {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin-block: 10px;
}

.social-icons {
  font-size: 20px;
  color: var(--main-beige);
  margin-inline: 10px
}

a.social-icons {
  height: 20px;
}

.footer-about p,
.footer-map p,
.social-icons {
  transition: color 300ms ease-in-out;
  cursor: pointer;
}

.footer-about p:hover,
.footer-map p:hover,
.social-icons:hover {
  color: var(--main-orange);
}

.footer-inner {
  height: 7rem;
  background-color: var(--main-dark-blue);
}

.footer-related-text {
  margin: auto 14%;
  padding: 20px;
  text-align: center;
  color: var(--main-white);
}

.footer-related-logos {
  display: flex;
  justify-content: space-between;
  margin: auto 35%;
}

.partner-logo {
  max-height: 30px;
}

.partner-logo-img {
  height: 30px;
  object-fit: cover;
}


@media screen and (min-width: 0px) and (max-width: 480px) {
  .footer-outer {
    justify-content: center;
    flex-direction: column;
    height: inherit;
  }
  .footer-base {
    flex-direction: column;
  }
  .footer-others {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .footer-line {
    width: 100px;
    height: 2px;
    margin: 10px 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer-outer {
    justify-content: center;
    flex-direction: column;
    height: inherit;
  }
  .footer-base {
    flex-direction: column;
  }
  .footer-others {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .footer-line {
    width: 100px;
    height: 2px;
    margin: 10px 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .footer-outer {
    justify-content: center;
    flex-direction: column;
    height: inherit;
  }
  .footer-base {
    flex-direction: column;
  }
  .footer-others {
    justify-content: space-between;
    width: 100%;
  }
  .footer-line {
    width: 100px;
    height: 2px;
    margin: 10px 0;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .footer-outer {
    justify-content: center;
    flex-direction: column;
    height: inherit;
  }
  .footer-base {
    flex-direction: column;
  }
  .footer-others {
    justify-content: space-between;
    width: 100%;
  }
  .footer-line {
    width: 100px;
    height: 2px;
    margin: 10px 0;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  
}