.header-hamburger {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.nav-hamburger {
    font-size: 1.2rem;
    margin-block: 1.3rem;
    text-align: center;
}