.gallery-ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery-li {
  height: 40vh;
  flex-grow: 1;
}

.gallery-li:last-child {
  flex-grow: 10;
}


@media screen and (max-aspect-ratio: 1/1) {
  .gallery-li {
    height: 30vh;
  }
}


@media screen and (max-height: 480px) {
  .gallery-li {
    height: 80vh;
  }
}


@media screen and (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .gallery-ul {
    flex-direction: row;
  }

  .gallery-li {
    height: auto;
    width: 100%;
  }
}
