.instagram {
  position: relative;
}

.instagram-button {
  position: absolute;
  color: rgb(var(--main-font-color));
  background-color: rgb(var(--background));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 1.3rem;
  transition: all 300ms;
}

.instagram-button:hover {
  color: rgb(var(--inverse-font-color));
  background-color: rgb(var(--main-highlighted));
}

.instagram-slider {
  height: calc(100vw / 10);
  width: 100vw;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .instagram-slider {
    height: calc(100vw / 2);
  }
  .instagram-button {
    font-size: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .instagram-slider {
    height: calc(100vw / 4);
  }
  .instagram-button {
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .instagram-slider {
    height: calc(100vw / 6);
  }
  .instagram-button {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .instagram-slider {
    height: calc(100vw / 8);
  }
  .instagram-button {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .instagram-slider {
    height: calc(100vw / 8);
  }
  .instagram-button {
    font-size: 1.2rem;
  }
}
