.divStyle {
  height: 650px;
  width: auto;
  object-fit: cover;
  filter: brightness(0.3);
  cursor: default
}

.imgHead {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardImg-active {
  transform: scale(1, 1);
  opacity: 1;
}

.cardImg-last-active {
  opacity: 0;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .divStyle {
    height: 100vh;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .divStyle {
    height: 100vh;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

}

@media screen and (min-width: 1201px) and (max-width: 1600px) {

}
