.content {
  margin: auto 250px;
  width: calc(100vw - 500px);
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .content {
    margin: auto 10px;
    width: calc(100vw - 20px);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .content {
    margin: auto 20px;
    width: calc(100vw - 40px);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .content {
    margin: auto 100px;
    width: calc(100vw - 200px);
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .content {
    margin: auto 150px;
    width: calc(100vw - 300px);
  }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  .content {
    margin: auto 200px;
    width: calc(100vw - 400px);
  }
}
